In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
s = pd.Series([1,2,3,4,5,np.nan,7,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range('20200301',periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df1 = pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])
df1

                   A         B         C         D
2020-03-01  2.218768 -0.171595  0.255520 -1.417341
2020-03-02  0.053679 -1.362240  0.518846 -0.144269
2020-03-03 -1.056433  0.613289  0.816141  0.575049
2020-03-04  0.130442 -0.482837  0.395950 -0.777227
2020-03-05 -0.539659  1.973715  1.492484 -0.346617
2020-03-06 -0.905821 -1.793223 -1.367707 -0.246014
2020-03-07 -0.808252 -0.198500  1.040469  0.270189
2020-03-08  0.294335 -0.452309 -0.178492  0.347313
2020-03-09 -0.508001 -0.014178 -0.403364 -0.559373
2020-03-10  0.390540 -1.586289 -0.600968 -2.073781

In [6]:
#Viewing of the dataframe
df1.head()

                   A         B         C         D
2020-03-01  2.218768 -0.171595  0.255520 -1.417341
2020-03-02  0.053679 -1.362240  0.518846 -0.144269
2020-03-03 -1.056433  0.613289  0.816141  0.575049
2020-03-04  0.130442 -0.482837  0.395950 -0.777227
2020-03-05 -0.539659  1.973715  1.492484 -0.346617

In [7]:
df1.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df1.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.073040  -0.347417   0.196888  -0.437207
std     0.958457   1.113509   0.850238   0.819261
min    -1.056433  -1.793223  -1.367707  -2.073781
25%    -0.741104  -1.142389  -0.347146  -0.722764
50%    -0.227161  -0.325405   0.325735  -0.296316
75%     0.253361  -0.053533   0.741818   0.166574
max     2.218768   1.973715   1.492484   0.575049

In [10]:
df1.sort_index(axis=1, ascending=False)
#axis1 means sort the columns in descending other

                   D         C         B         A
2020-03-01 -1.417341  0.255520 -0.171595  2.218768
2020-03-02 -0.144269  0.518846 -1.362240  0.053679
2020-03-03  0.575049  0.816141  0.613289 -1.056433
2020-03-04 -0.777227  0.395950 -0.482837  0.130442
2020-03-05 -0.346617  1.492484  1.973715 -0.539659
2020-03-06 -0.246014 -1.367707 -1.793223 -0.905821
2020-03-07  0.270189  1.040469 -0.198500 -0.808252
2020-03-08  0.347313 -0.178492 -0.452309  0.294335
2020-03-09 -0.559373 -0.403364 -0.014178 -0.508001
2020-03-10 -2.073781 -0.600968 -1.586289  0.390540

In [11]:
df1.sort_values(by='C')

                   A         B         C         D
2020-03-06 -0.905821 -1.793223 -1.367707 -0.246014
2020-03-10  0.390540 -1.586289 -0.600968 -2.073781
2020-03-09 -0.508001 -0.014178 -0.403364 -0.559373
2020-03-08  0.294335 -0.452309 -0.178492  0.347313
2020-03-01  2.218768 -0.171595  0.255520 -1.417341
2020-03-04  0.130442 -0.482837  0.395950 -0.777227
2020-03-02  0.053679 -1.362240  0.518846 -0.144269
2020-03-03 -1.056433  0.613289  0.816141  0.575049
2020-03-07 -0.808252 -0.198500  1.040469  0.270189
2020-03-05 -0.539659  1.973715  1.492484 -0.346617

In [12]:
#A single column
df1['C']

2020-03-01    0.255520
2020-03-02    0.518846
2020-03-03    0.816141
2020-03-04    0.395950
2020-03-05    1.492484
2020-03-06   -1.367707
2020-03-07    1.040469
2020-03-08   -0.178492
2020-03-09   -0.403364
2020-03-10   -0.600968
Freq: D, Name: C, dtype: float64

In [13]:
#Slcing
df1[0:3]

                   A         B         C         D
2020-03-01  2.218768 -0.171595  0.255520 -1.417341
2020-03-02  0.053679 -1.362240  0.518846 -0.144269
2020-03-03 -1.056433  0.613289  0.816141  0.575049

In [14]:
#Selecting using labels
# note use location 'loc'
df1.loc[d[0]]

A    2.218768
B   -0.171595
C    0.255520
D   -1.417341
Name: 2020-03-01 00:00:00, dtype: float64

In [15]:
#Selecting data on a multiple axes by labels
df1.loc[:,['A','C']]

                   A         C
2020-03-01  2.218768  0.255520
2020-03-02  0.053679  0.518846
2020-03-03 -1.056433  0.816141
2020-03-04  0.130442  0.395950
2020-03-05 -0.539659  1.492484
2020-03-06 -0.905821 -1.367707
2020-03-07 -0.808252  1.040469
2020-03-08  0.294335 -0.178492
2020-03-09 -0.508001 -0.403364
2020-03-10  0.390540 -0.600968

In [16]:
df1.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [17]:
##HANDLING MISSING DATA

In [18]:
df3 = df1.reindex(index=range(4), columns=list(df1.columns) + ['E'])

In [19]:
df2 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20200301'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([5]*4,dtype='int32'),
                   'E':pd.Categorical(['True','False','True','False']),
                   'F':'Tutorial'})

# df = pd.DataFrame({
#     'A': [1, 2, 3, 4],
#     'B': ['20200301'] * 4,
#     'C': [1.0] * 4,
#     'D': [5] * 4,
#     'E': [True, False, True, False],
#     'F': ['Tutorial'] * 4
# })
df2

   A          B    C  D      E         F
0  1 2020-03-01  1.0  5   True  Tutorial
1  2 2020-03-01  1.0  5  False  Tutorial
2  3 2020-03-01  1.0  5   True  Tutorial
3  4 2020-03-01  1.0  5  False  Tutorial

In [21]:
df2.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [21]:


# Create a sample dataframe using a dictionary
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'Country': ['USA', 'UK', 'Australia', 'Germany']}
df3 = pd.DataFrame(data, 
                  # The index parameter specifies the row labels of the dataframe
                  # By default, pandas will create a numerical index starting from 0
                  # However, you can pass a custom index or a column name to use as the index
                  index=['Person1', 'Person2', 'Person3', 'Person4'])
               

df3

          Name  Age    Country
Person1   John   28        USA
Person2   Anna   24         UK
Person3  Peter   35  Australia
Person4  Linda   32    Germany

In [22]:
df3.dtypes

Name       object
Age         int64
Country    object
dtype: object